@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  background: #111;
}

.frame {
  border: 4px solid #d7b05b;
  box-shadow: 4px 4px 0 #a20000;
  background: #212529;
}
